@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    color: #FFFFFF;
    padding: 0.75rem 1rem;
    border-radius: 20px;
    background-color: #7928CA;
    background-image: linear-gradient(to bottom left, purple 30%, yellow 100%);
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #412567;
}


/* common styles */
.medium-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 90%;
}

.regular-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: auto;
    color: #FFFFFF;
    opacity: 80%;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: auto;
    color: #FFFFFF; 
}

.common-length {
    max-width: 1600px;
    /* margin: 0 auto; */
}

.section-title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    color: #FFFFFF;
}



/* main styles  */

/* navbar section  */

.navbar {
    max-width: 1600px;
    background-color: #1A0B2E;
    border: 1px solid #412567;
}

.navbar .nav-container {
    max-width: 100%;
    margin: 1rem 12.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-container .nav-logo img {
    max-width: 220px;
}
.navbar .nav-container .menu-icon img {
    width: 24px;
    height: 24px;
}

.navbar .nav-container .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar .nav-container .nav-links li a {
    text-decoration: none;
}


/* banner section */

.banner {
    height: 760px;
    background-image: url(./B13-A02-TechWave-main/assets/hero-bg.png);
    /* background-size: cover;
    background-position: center; */
    display: flex;  
    justify-content: center;
    align-items: center;
}
.banner .banner-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    /* position:-ms-page; */
}

.banner .banner-img {
    width: 350px;
    height: 350px;
    background-image: url(./B13-A02-TechWave-main/assets/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: scroll; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner .banner-img img {
    max-width: 100%;
}
.banner .banner-container .banner-content {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner .banner-container .large-heading {
    font-size: 3.75rem;
    margin-bottom: 0.5rem;
}

.banner .banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.banner .banner-second-btn   {
    background-image: none;
    background-color: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
}

.banner .challenge-btn {
    /* width: fit-content; */
    font-size: 1.125rem;
    font-weight: 600;
    line-height: auto;
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    position: absolute;
    top: 5%;
    right: 5%;
}

/* about section */
.about {
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    text-align: center ;
    
}

.about .about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}
.about  .horizontal-line {
    border: 1px solid #FFFFFF;
    /* position: center; */
    opacity: 10%;
}
.about .about-statistics {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-transform: uppercase;
}
.about .about-statistics .section-title {
    color: #00FF88;
}

.about .about-statistics .state-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    
}


/* choose section  */

.choose  {
    background-color: #230E3D;
    padding: 120px 200px;
    /* text-align: center ; */
}
.choose .section-container {
    text-align: center;
    margin-bottom: 2.5rem;
}

.choose .choose-content .box {
    display: flex;
    background-color: #351165;
    padding: 2.5rem;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
}
.choose .choose-content .box .box-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: flex-start;

}
.audio {
    grid-area: audio;
}
.mobile {
    grid-area: mobile;
}
.location {
    grid-area: location;
}
.interview {
    grid-area: interview;
}
.resources {
    grid-area: resources;
}

.choose .choose-content {
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "audio          mobile              mobile"
    "audio          location            location"
    "interview      interview           resources";

}

/* features section  */

.features {
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.features .features-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.features .features-container .podcast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.features .features-container .podcast-card {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #250D44;
    border-radius: 1rem;
}

.features .features-container .podcast-card .podcast-video iframe {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.features .features-container .podcast-card .podcast-content .content-text {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.features .features-container .podcast-card .podcast-content .content-text .medium-text {
    color: #00FF88;
}

.features .meet-section {
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.features .meet-section .meet-card {
    display: flex;
    padding: 2.5rem;
    /* gap: 2rem; */
    justify-content: center;
    align-items: center;
    background-color: #250D44;
    border-radius: 1.5rem;
}

.features .meet-section .meet-card .meet-text {
    max-width: 80%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.features .meet-section .meet-card .social-media {
    display: flex;
    gap: 1rem;
    
}
.features .meet-section .meet-card .meet-text .subtitle {
    font-size: 2rem;
}   
.features .meet-section .meet-card .social-media .media-icons {
    border: 2px solid #412567;
    border-radius: 50%;
}
.features .meet-section .meet-card .social-media .media-icons img {
    width:2.5rem;
    height:2.5rem;
    padding: 0.5rem;
}


/* footer section  */

footer {
    background-image: url("./B13-A02-TechWave-main/assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

footer .footer-container .footer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

/* responsive styles */

/* small device   */
@media screen and (max-width: 576px) {
    .navbar .nav-container {
        margin: 1rem 20px;
    }
    .navbar .nav-container .nav-links {
        display: none;
    }
    .banner .banner-container .large-heading {
        font-size: 2.5rem;
    }
    .navbar .btn {
        display: none;
    }
    .banner .banner-container {
        margin: 0 20px;
    }
    .banner .banner-img {
        width: 250px;
        height: 250px;
    }
    .banner .challenge-btn {
        top: 5%;
        right: -8%;
    }
    .about {
        padding: 40px 20px;
        
    }
    .section-title {
        font-size: 2rem;
    }
   .about .about-statistics {
       grid-template-columns: repeat(2, 1fr);
   }
   .about .about-statistics .section-title {
       font-size: 2.5rem;
   }
   .choose , .features {
       padding: 40px 20px;  
   }

   .choose .choose-content {
       gap: 1rem;
       grid-template-areas:
           "audio "
           "mobile"
           "location"
           "interview"
           "resources";

   }


   .features .features-container .podcast {
       flex-direction: column;
       gap: 1rem;
   }
   .features .meet-section {
       margin-top: 4rem;
       gap: 2rem;
   }

   .features .meet-section .meet-card {
       flex-direction: column;
       padding: 1rem;
       gap: 1rem;
       text-align: center;
   }
   .features .meet-section .meet-card .meet-text {
       max-width: 100%;
       margin-left: 0rem;
       flex-direction: column;
       align-items: center;
       gap: 1rem;

   }

   footer{
        max-width: 400px;
         height: auto;
         padding: 40px 20px;
   }
   
   footer .footer-container {
       gap: 1rem;
   }

   footer .footer-container .footer-list {
       grid-template-columns: repeat(2, 1fr);
       gap: 1rem;
   }

}

/* medum  device  */

@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar .nav-container {
        margin: 1rem 4rem;
    }
    .navbar .nav-container .menu-icon {
        display: none;
    }
    .navbar .nav-container .nav-links {
        display: none;
    }


    
}

/* medium to tablate device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .navbar .nav-container {
        margin: 1rem 2rem;
    }
    .navbar .nav-container .menu-icon {
        display: none;
    }

    .about {
        padding: 40px 20px;

    }

    .section-title {
        font-size: 2.5rem;
    }

    .about .about-statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .about .about-statistics .section-title {
        font-size: 2.5rem;
    }

    .choose, .features {
        padding: 40px 20px;
    }

    .choose .choose-content {
        gap: 1.5rem;
        grid-template-areas:
            "audio "
            "mobile"
            "location"
            "interview"
            "resources";

    }

    .features .features-container .podcast {
        flex-direction: column;
        gap: 1rem;
    }

    .features .meet-section {
        margin-top: 4rem;
        gap: 2rem;
    }

    .features .meet-section .meet-card {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        text-align: center;
    }

    .features .meet-section .meet-card .meet-text {
        max-width: 100%;
        margin-left: 0rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }

    footer {
        max-width: 400px;
        height: auto;
        padding: 40px 20px;
    }

    footer .footer-container {
        gap: 1rem;
    }

    footer .footer-container .footer-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}


/* large device  */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar .nav-container .menu-icon  {
            display: none;
    }
    .navbar .nav-container {
        margin: 1rem 8rem;
        
    }
    .choose {
        padding: 3rem 6rem;
    }
        .features .features-container .podcast {
            gap: 1.5rem;
        }
    .features .features-container .podcast-card {
        width: 300px;
        gap: 0.5rem;
    }
    .features .meet-section .meet-card {
        
        padding: 1rem;
       
    }
    .features .meet-section .meet-card .meet-text {
        max-width: 80%;
        margin-left: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

    }
}

/* extra large device  */
@media screen  and (min-width: 1201px) {
    .navbar .nav-container .menu-icon {
            display: none;
    }
}